$header-height:100px;
$primary-color: #02d199;
$font-main-color:#333;
$border-color:#e6e6e6;
$footer-height:80px;
$user-page-color:#16d1a2;

// -> iphone
$break-small:320px;
$break-media:375px;
$break-max:414px;
$break-super:480px;

$height-small:667px;
$height-media:736px;
$height-max:812px;